<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Log in to your account:</h1>
        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username"> <br>
            <label for="password">Password:</label>
            <input type="password" name="password"> <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>